<div id="trails">
  <div class="parallax">
    <img id="trailImg" src="/assets/css/img/trail.jpg">
  </div>
    
  <div class="row" id="trailsRow">
    <button id="go" onclick="goBack()">Go Back</button>
    <h3 id="trailTitle">Trails</h3>



    {{#each results}}
      <div class="col s4 trailsColumn" id='trailsContainer'> 
        <span class="info"><a target='_blank' href="{{this.url}}"><i class="small material-icons" id="trailsBtn">info_outline</i></a></span>
        <h6>{{this.trail_name}}</h6>
        <p class="description">{{this.description}}</p>
      </div>
    {{/each}}
      
      <h4>{{user.username}}</h4>

        {{#each results}}
        <div class="col s4 trailsColumn" id='trailsContainer'> 
          <span class="info"><a target='_blank' href="{{this.url}}"><i class="small material-icons" id="trailsBtn">info_outline</i></a></span>
          <h6>{{this.trail_name}}</h6>
          <p class="description">{{this.description}}</p>

          {{!-- {{#if user.username}} --}}
          <form action="/{{user.username}}?_method=PUT" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">               
            <button class="fav_btn" type="submit">Add to favorites!</button>      
          </form>
          {{!-- {{/if}} --}}
        </div>
        {{/each}}
    </div>

  </div>
</div>

     
